@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#title{
    margin: 0rem 0rem 1rem 3rem;
    font-size: 4.5rem;
}

.navbar{
    max-height: fit-content;
    margin: 3rem 0rem 1rem 0rem;
    padding: 0rem 0rem 0.5rem;
    box-shadow: 0rem 0.3rem 0.3rem #00FF40;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content-text{
    max-width: 40rem;
    max-height: fit-content;
    margin: 3rem 0rem 0.6rem 6rem;
    font-size: 1.2rem;  
}

#result{
    font-size: 1.7rem;
}

#result-text{
    font-weight: 700;
    font-size: 6rem;
    color: #00D100;
}

form{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
    max-width: 70rem;
    margin: auto;
}

input{
    max-width: 20rem;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

button{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: #00D100;
    color: ivory;
    grid-column: 1 / span 2;
    max-width: fit-content;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
}